.splash-container {
    background: transparent url('/img/running.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/running.jpg', sizingMethod='scale');

    width: 100%;
    margin-bottom: 3em;
    display: table;
}
